<%- include("header") -%>

<div class="box" id="heading">
  <h1><%= listTitle %></h1>
</div>

<div class="box">
  <% newListItems.forEach(function(item){ %>  
    <div class="item">
      <p><%= item.name %></p>
      <form action="/delete" method="post" class="delete-form">
        <input type="hidden" name="itemId" value="<%= item._id %>">
        <input type="hidden" name="listName" value="<%= listTitle %>">
        <button type="submit" class="delete-button"><i class="fas fa-trash-alt"></i></button>
      </form>
    </div> 
  <% }) %>

  <form class="item" action="/" method="post">
    <input
      type="text"
      name="newItem"
      placeholder="New Item"
      autocomplete="off"
    />
    <button type="submit" name="list" value="<%= listTitle %>">+</button>
  </form>
</div>

<%- include("footer") -%>
